.git
.github
.claude
.editorconfig
.gitattributes
.gitignore
.DS_Store

vendor
node_modules
public/build
public/hot
public/storage

storage/*.key
storage/app/*
!storage/app/.gitignore
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
storage/pail

database/*.sqlite

.env
.env.*
!.env.example

.phpunit.cache
.phpunit.result.cache
tests

docs
README.md
PROGRESS.md
